<!-- templates/home.html-->

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{#{% if user.is_authenticated %}#}
{#  Hi {{ user.username }}!#}
  <p><a href="{% url 'logout' %}">Log Out</a></p>


<form action="http://localhost:8000/api/email-notifications" method="POST">
<h1> Update email notifications here!</h1>
  <div>
    <label for="user_emails"> Enter new email address here</label>
    <input name="user_emails" id="user_emails" value="test@email.com">
  </div>
  <div>
    <label for="url_id">Enter id of url tracker here!</label>
    <input name="url_id" id="url_id" value="1">
  </div>
  <div>
    <button>Update email</button>
  </div>
</form>
    <h1> UrlTrackers </h1>
    <table style="width: 100%">
    <tr>
        <th>ID</th>
        <th>URL</th>
        <th>Last Checked</th>
        <th>Status</th>
    </tr>
    {%  for u in urls %}
        <tr>
            <td> {{ u.id }}</td>
            <td> {{ u.url }}</td>
            <td> {{ u.last_checked }}</td>
            {% if u.failed_status == 0 %}
                <td> SUCCESS</td>
            {% else  %}
                <td> FAILURE</td>
            {% endif %}

        </tr>
    {% endfor %}

    </table>
{#{% else %}#}
{#  <p>You are not logged in</p>#}
{#  <a href="{% url 'login' %}">Log In</a>#}
{#{% endif %}#}
{% endblock %}
